<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.book.mapper.AuthorityDao">

	<select id="selectAll" resultType="Authority">
		SELECT seq, m_userid AS
		username, m_role AS authority FROM tbl_authority
	</select>

	<select id="findById" resultType="Authority">
		SELECT seq, m_userid AS
		username, m_role AS authority FROM tbl_authority WHERE
		seq
		= #{seq}
	</select>

	<insert id="insert">
		INSERT INTO tbl_authority (SEQ, m_userid, m_role)
		VALUES (SEQ_AUTHORITY.NEXTVAL,
		#{username}, #{authority})

	</insert>

	<insert id="insertAll_1" parameterType="Authority">
		INSERT
		<foreach collection="list" item="vo" open="INSERT ALL"
			close="SELECT * FROM DUAL" separator=" ">
			INTO tbl_authority (SEQ,
			m_userid, m_role) VALUES (SEQ_AUTHORITY.NEXTVAL,
			#{username}, #{authority})
		</foreach>
	</insert>

	<update id="update"></update>
	<delete id="delete"></delete>

</mapper> 