<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.bbs.mapper.NoticeDao">

	<insert id="insert">
		INSERT INTO tbl_notice (
		id,
		date_time,
		writer,
		subject,
		text
		) VALUES (
		seq_notice.NEXTVAL,
		#{date_time},
		#{writer},
		#{subject},
		#{text}
		)
	</insert>

	<update id="update">
		UPDATE tbl_notice SET
		date_time =
		#{date_time},
		writer = #{writer},
		subject = #{subject},
		text = #{text}
		WHERE id = #{id}
	</update>
</mapper>